.registration {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  margin-top: 50px;

  .registration__form {
    width: 50%;
    max-width: 900px;
    border: 1px solid #00000018;
    border-radius: 20px;
    padding: 20px;
  }

  .password__input {
    position: relative;
    .form-control {
      width: 100%;
    }
    .form-check-input {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .col-md-6 {
    label {
      max-width: 90%;
      width: 100%;
    }
  }
}
